/*
 * default.css_t
 * ~~~~~~~~~~~~~
 *
 * Sphinx stylesheet -- default theme.
 *
 * :copyright: Copyright 2007-2016 by the Sphinx team, see AUTHORS.
 * :license: BSD, see LICENSE for details.
 *
 */

/* -- page layout ----------------------------------------------------------- */

body {
    margin: 20px;
    padding: 0;
}

div.documentwrapper {
    float: left;
    width: 100%;
}

div.bodywrapper {
    margin: 0 0 0 0px;
}

div.body {
    padding: 0 20px 30px 20px;
}

div.footer {
    width: 100%;
    padding: 9px 0 9px 0;
    text-align: center;
    font-size: 75%;
}

div.footer a {
    text-decoration: underline;
}

div.related {
    line-height: 30px;
}

/* -- hyperlink styles ------------------------------------------------------ */

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.external {
   text-decoration: none;
   border-bottom: 1px dashed #33d;
}

a.external:hover {
   text-decoration: none;
   border-bottom: none;
}

a.external:visited {
    text-decoration: none;
    border-bottom: 1px dashed #33d;
}

/* -- body styles ----------------------------------------------------------- */

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    margin: 20px -20px 10px -20px;
    padding: 3px 0 3px 10px;
}

div.body h1 { margin-top: 0; font-size: 200%; }
div.body h2 { font-size: 160%; }
div.body h3 { font-size: 140%; }
div.body h4 { font-size: 120%; }
div.body h5 { font-size: 110%; }
div.body h6 { font-size: 100%; }

a.headerlink {
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
}

div.body p, div.body dd, div.body li, div.body blockquote {
    text-align: justify;
    line-height: 130%;
}

div.admonition p.admonition-title + p {
    display: inline;
}

div.admonition p {
    margin-bottom: 5px;
}

div.admonition pre {
    margin-bottom: 5px;
}

div.admonition ul, div.admonition ol {
    margin-bottom: 5px;
}

div.note {
    border: 1px solid #ccc;
}

div.seealso {
    border: 1px solid #ff6;
}

div.warning {
    border: 1px solid #f66;
}

p.admonition-title {
    display: inline;
}

p.admonition-title:after {
    content: ":";
}

pre {
    padding: 5px;
    line-height: 120%;
    border: 1px solid #ac9;
    border-left: none;
    border-right: none;
}

code {
    padding: 0 1px 0 1px;
    font-size: 0.95em;
}

.viewcode-back {
    font-family: Arial, Helvetica, sans-serif;
}

div.viewcode-block:target {
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}
